.body-background {
    /* background:linear-gradient(0deg, rgb(92, 88, 93) 0.00%,rgb(44, 62, 80) 63.00%); */
    background-image: url(images/bluedenim.png);
    /* background-size: cover; */
    min-height: 100vh;
    display: flex;
    padding:0;
    margin:0;
}

.logo {
   margin: auto;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    overflow: hidden;
    font-family: "Lavishly Yours", serif;
    font-size: 80px;
  }
  
  .heart-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heart {
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 100%;
    animation: growAndBlur 3s ease-out forwards;
  }
  
  @keyframes growAndBlur {
    0% {
      transform: scale(0.1);
      filter: blur(0px);
      opacity: 1;
    }
    50% {
      filter: blur(5px);
    }
    100% {
      transform: scale(50);
      filter: blur(20px);
      opacity: 0;
    }
  }
  
  .logo {

    width: 200px; /* Adjust the size of your logo */
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 0.5s; /* Wait until the heart animation is complete */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }